body{
	text-align: center;
	padding-top: 100px;
	background-color: antiquewhite;

	color: #422f21;
}

body.nature-bg{
	background-image: url('../image/nature-real.jpg');
}

body.surreal-bg{
	background-image: url('../image/surrealism-real.jpg');
}

h1{
	font-size: 2rem;
	/* padding-bottom: 5rem; */

	margin-bottom: 2rem;
}

h2{
	font-size: 1.2rem;
	margin-bottom: 2.5rem;
}

h3{
	font-size: 1rem;
	margin-top: 1rem;
}

footer{
	padding: 2rem;
	margin-top: 12rem;
	text-align: center;
}

select{
	padding: 8px 40px 8px 16px;
	margin: 8px;
	font-size: 16px;
	background-color: #ddd3c1;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	background-image: url('../image/down-arrow.png');
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 14px;
}

select:hover{
	background-color: #e3dbcb;
}

button{
	padding: 8px 16px;
	margin: 8px;
	font-size: 16px;
	background-color: #422f21;
	color: antiquewhite;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover{
	background-color: #684f3b;
}

.button-container{
	/* position: relative; */
	display: inline-block;

	margin-top: 10px;
}

/*added text box style*/
/* #output,
#task-output{
	font-size: 20px;
	font-style: italic;
	color: brown;

	background-color: white;
	border-left: 4px solid brown;
	padding: 20px;
	margin: 40px auto;
	max-width: 600px;
} */

/*flip card*/
.card{
	width: 500px;
	height: 250px;
	margin: 60px auto;
	perspective: 1000px;
	cursor: pointer;
}

.card-container{
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/*desktop(on hover)*/
.card:hover .card-container{
	transform: rotateY(180deg);
}

/*mobile(on tap)*/
.card.is-flipped .card-container{
	transform: rotateY(180deg);
}

.card-front,
.card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 40px 30px;
	backface-visibility: hidden;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card-back{
	transform: rotateY(180deg);
	/* border-color: aqua; */
	/* color: #422f21; */
}
