body{
	text-align: center;
	/* padding-top: 7rem; */
	background-color: antiquewhite;
	color: #422f21;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: blur(10px);
	z-index: -1;
}

.background.nature-bg{
	background-image: url('../image/nature-gradient.jpg');
}

.background.surreal-bg{
	background-image: url('../image/surrealism-gradient.jpg');
}

h1{
	font-size: 2.1rem;
	/* padding-bottom: 5rem; */
	margin-bottom: 2.5rem;

	font-family: "hwt-mardell", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2{
	font-size: 1.2rem;
	margin-bottom: 2.5rem;

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h3{
	font-size: 1rem;
	margin-top: 1rem;
}

footer{
	padding: 0rem;
	margin-top: 1rem;
	text-align: center;

	font-size: 0.75rem;
	font-family: "lorimer-no-2", sans-serif;
	font-weight: 400;
}

select{
	padding: 0.7rem 3rem;
	width: 20rem;
	text-align: center;
	/* margin: 8px; */
	font-size: 1rem;
	background-color: rgba(50, 31, 26, 0.4);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	background-repeat: no-repeat;
	background-position: right 0.75rem center, left 0.75rem center;
	background-size: 0.625rem, 0.625rem;
	backdrop-filter: blur(6px);

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
}

select:hover{
	background-color: rgba(93, 79, 75, 0.6);
}

#style-container{
	background-image: url('../image/down-arrow.png'), url('../image/circle.png');
}

#task-container{
	background-image: url('../image/down-arrow.png'), url('../image/Triangle.png');
}

button{
	padding: 0.7rem 3rem;
	width: 20rem;
	font-size: 1rem;
	background-color: #422f21;
	color: antiquewhite;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
}

button:hover{
	background-color: #684f3b;
}

.button-container{
	/* position: relative; */
	display: inline-block;

	margin-top: 10px;
	text-align: center;
}

.all-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

/*flip card*/
.card{
	width: 80%;
	max-width: 32rem;
	height: 15rem;
	margin: 3.75rem auto;
	perspective: 1000px;
	cursor: pointer;
}

.card-container{
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/*desktop(on hover)*/
.card:hover .card-container{
	transform: rotateY(180deg);
}

/*mobile(on tap)*/
.card.is-flipped .card-container{
	transform: rotateY(180deg);
}

.card-front,
.card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2.5rem 2rem;
	backface-visibility: hidden;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card-front{
	font-family: "lorimer-no-2", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 1.4rem;
}

.card-back{
	transform: rotateY(180deg);

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.2rem;
}

.card-front::before,
.card-back::before{
	content: "";
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 1rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.card-front::before{
	background-image: url('../image/circle.png');
}

.card-back::before{
	background-image: url('../image/Triangle.png');
}

.flip-hint{
	font-size: 0.8rem;
	font-family: "lorimer-no-2", sans-serif;
	font-weight: 500;
	font-style: italic;
	margin: 1rem 1rem;
	text-align: right;

}

.intro{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2.5rem;
	font-family: "lorimer-no-2", sans-serif;
	font-weight: 500;
	padding: 0 2rem;
}

.a-link{
	text-decoration: underline;
	cursor: pointer;
	transition: color 0.5s ease;
}

.a-link:hover{
	color: #ae8f76;
}

@media (min-width: 700px) {
	h1{
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	.card-front{
		font-size: 1.6rem;
	}

	.card-back{
		font-size: 1.5rem;
	}

}

@media (min-width: 1200px) {

	h1{
		font-size: 4rem;
	}

	select{
		font-size: 1.25rem;
	}

	button{
		font-size: 1.25rem;
	}

	.card-front{
		font-size: 1.6rem;
	}

	.card-back{
		font-size: 1.5rem;
	}

	.desktop-layout{
		display: flex;
		justify-content: center;
		align-items: center;

		margin: 0 auto;
		max-width: 1200px;
		padding: 0 4rem;
		gap: 4rem;
	}

	.all-buttons{
		flex: 1;
		align-items: center;
	}

	.card{
		flex: 1;
		max-width: 32rem;
		/* margin: 0; */
		/* width: 40rem; */
	}

	.intro{
		height: 100vh;

		font-size: 3rem;

		font-weight: 500;
		padding: 0 15rem;
	}

	footer{
		padding: 1rem;
		margin-top: 3rem;
		text-align: center;

		font-size: 1rem;
	}
}