body{
	text-align: center;
	padding-top: 6.25rem;
	background-color: antiquewhite;
	color: #422f21;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: blur(10px);
	z-index: -1;
}

.background.nature-bg{
	background-image: url('../image/nature-gradient.jpg');
}

.background.surreal-bg{
	background-image: url('../image/surrealism-gradient.jpg');
}

h1{
	font-size: 2rem;
	/* padding-bottom: 5rem; */

	margin-bottom: 2rem;

	font-family: "hwt-mardell", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2{
	font-size: 1.2rem;
	margin-bottom: 2.5rem;

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h3{
	font-size: 1rem;
	margin-top: 1rem;
}

footer{
	padding: 2rem;
	margin-top: 12rem;
	text-align: center;
}

select{
	padding: 0.7rem 3rem;
	width: 20rem;
	text-align: center;
	/* margin: 8px; */
	font-size: 1rem;
	background-color: rgba(50, 31, 26, 0.4);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	background-repeat: no-repeat;
	background-position: right 0.75rem center, left 0.75rem center;
	background-size: 0.625rem, 0.625rem;
	backdrop-filter: blur(6px);

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
}

select:hover{
	background-color: rgba(93, 79, 75, 0.6);
}

#style-container{
	background-image: url('../image/down-arrow.png'), url('../image/circle.png');
}

#task-container{
	background-image: url('../image/down-arrow.png'), url('../image/Triangle.png')
}

button{
	padding: 0.7rem 3rem;
	width: 20rem;
	font-size: 1rem;
	background-color: #422f21;
	color: antiquewhite;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
}

button:hover{
	background-color: #684f3b;
}

.button-container{
	/* position: relative; */
	display: inline-block;

	margin-top: 10px;
	text-align: center;
}

.all-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

/*added text box style*/
/* #output,
#task-output{
	font-size: 20px;
	font-style: italic;
	color: brown;

	background-color: white;
	border-left: 4px solid brown;
	padding: 20px;
	margin: 40px auto;
	max-width: 600px;
} */

/*flip card*/
.card{
	width: 80%;
	height: 15rem;
	margin: 3.75rem auto;
	perspective: 1000px;
	cursor: pointer;
}

.card-container{
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/*desktop(on hover)*/
.card:hover .card-container{
	transform: rotateY(180deg);
}

/*mobile(on tap)*/
.card.is-flipped .card-container{
	transform: rotateY(180deg);
}

.card-front,
.card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2.5rem 2rem;
	backface-visibility: hidden;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card-front{
	font-family: "lorimer-no-2", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 1.4rem;
}

.card-back{
	transform: rotateY(180deg);

	font-family: "lorimer-no-2", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.2rem;
}
